<div class="box-a" >
  <div class="content-a" >
    <h2 class = "pink">search user</h2>
    <%= search_form_for @q, url: search_users_path do |f| %>
      <div class="search-field">
        <%= f.collection_select(:age_id_eq, Age.all, :id, :name, include_hidden: false) %>
      </div>
      <div class="search-field">
        <%= f.collection_select(:skin_type_id_eq, SkinType.all, :id, :name, include_hidden: false) %>
      </div>
      <div class="search-field">
        <%= f.collection_select(:personal_color_id_eq, PersonalColor.all, :id, :name, include_hidden: false) %>
      </div>
      <div class="search-field">
        <%= f.collection_select(:face_type_id_eq, FaceType.all, :id, :name, include_hidden: false) %>
      </div>
      <%= f.submit '検索' %>
    <% end %>
  </div>
</div>

<div class="rank">
  <% @results.each do |user| %>
    <div class="products">
    <%= link_to user_path(user.id) do %>
      <div class="product">
      <%= image_tag "usericon.png", class:"image2" %>
        <div class="brand">
        <%= user.nickname %>
        </div>
      </div>
    <% end %>
    </div> 
  <% end %>
</div>




