<div class="rogoback">  
  <h1 class = "rogo"><%= link_to "Cosme Box", root_path, class:"rogo"%></h1>
</div>

<div class="box-a" >
  <div class="content-a" >
    <h2 class = "pink">search user</h2>
    <%= search_form_for @q, url: search_users_path do |f| %>
      <div class="search-field">
        <%= f.collection_select(:age_id_eq, Age.where.not(id: 1), :id, :name, {include_blank: "Age"}, {class:"select-box2"}) %>
      </div>
      <div class="search-field">
        <%= f.collection_select(:skin_type_id_eq, SkinType.where.not(id: 1), :id, :name, {include_blank: "Skin type"}, {class:"select-box2"}) %>
      </div>
      <div class="search-field">
        <%= f.collection_select(:personal_color_id_eq, PersonalColor.where.not(id: 1), :id, :name, {include_blank: "Personal color"}, {class:"select-box2"}) %>
      </div>
      <div class="search-field">
        <%= f.collection_select(:face_type_id_eq, FaceType.where.not(id: 1), :id, :name, {include_blank: "Face type"}, {class:"select-box2"}) %>
      </div>
          <button class="button submit">search</button>
    <% end %>
  </div>
</div>

<div class="rank">
  <% @results.each do |user| %>
    <div class="products">
    <%= link_to user_path(user.id) do %>
      <div class="product">
      <%= image_tag "usericon.png", class:"image2" %>
        <div class="brand">
        <%= user.nickname %>
        </div>
      </div>
    <% end %>
    </div> 
  <% end %>
</div>



