<div class="pro">
  <div class="blok">
    <div class="product-info">    
      <div class="nickname">
        <%= @user.nickname %>
      </div>
      <% if @user.age.present? %>

      <div class="age">
        <%= @user.age.name %>
      </div>
          <% end %>
      <div class="age">
      <% if @user.skin_type.present? %>
      <div class="skin_type">
        <%= @user.skin_type.name %>
      </div>
                <% end %>

    </div>

    <div class="buttons">

      <button class="button2"><strong>

        <%= link_to "edit", user_registration_path(@user.id), method: :patct, class: "click"%>
      </strong></button>
      
      <button class="button2"><strong>
      <%= link_to "logauto", destroy_user_session_path(@user.id), method: :delete, class: "click"%>
</strong></button>
    </div>
  </div>
</div>
