<div class="rogoback">  
  <h1 class = "rogo"><%= link_to "Cosme Box", root_path, class:"rogo"%></h1>
</div>

  <div class="rank">
    <% @items.each do |item| %>
      <div class="products">
        <%= link_to item_path(@items.ids) do %>
          <div class="product">
            <% if item.category == @foundation %>
              <%= image_tag "foundation.png", class:"image" %>
            <% elsif item.category == @concealer %>
              <%= image_tag "concealer.png", class:"image" %>
            <% elsif item.category == @powder %>
              <%= image_tag "powder.png", class:"image" %>
            <% elsif item.category == @eyebrow %>
              <%= image_tag "Perfume.png", class:"image" %>
            <% elsif item.category == @eyeliner %>
              <%= image_tag "eyeliner.png", class:"image" %>
            <% elsif item.category == @eyeshadow %>
              <%= image_tag "eyeshadow.png", class:"image" %>
            <% elsif item.category == @mascara %>
              <%= image_tag "mascara.png", class:"image" %>
            <% elsif item.category == @lip %>
              <%= image_tag "lip.png", class:"image" %>
            <% elsif item.category == @cheek %>
              <%= image_tag "cheek.png", class:"image" %>
            <% end %>
            <div class="brand">
              <%= item.brand %>
            </div>
            <div class="name">
              <%= item.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

