<div class="pro">
  <div class="blok">
    <%= image_tag "Perfume.png", class:"image" %>
    <div class="product-info">    
      <div class="brand">
        <%= @item.brand %>
      </div>
      <div class="name">
        <%= @item.name %>
      </div>
      <div class="border2"></div>
      <h5>Memo</h5><p>
      <div class="memo">
        <%= @item.memo %>
      </div>
    </div>
    <div class="buttons">
      <button class="button2">
        <strong>
          <%= link_to "edit", edit_item_path(@item.id), method: :get, class: "click"%>
        </strong>
      </button>      
      <button class="button2">
        <strong>
          <%= link_to "delete", item_path(@item.id), method: :delete, class: "click"%>
        </strong>
      </button>
    </div>
  </div>
</div>


