<div class="pro">
  <div class="blok">
    <%= image_tag "Perfume.png", class:"image" %>
    <div class="product-info">    
      <div class="brand">
        <%= @item.brand %>
      </div>
      <div class="name">
        <%= @item.name %>
      </div>
      <div class="border2"></div>
      <h5>Memo</h5><p>
      <div class="memo">
        <%= @item.memo %>
      </div>
    </div>

    <div class="buttons">

      <button class="button2"><strong>

        <%= link_to "edit", {controller: "items", action: "edit"}, {method: :get }%>
      </strong></button>
      
      <button class="button2"><strong>delete</strong></button>
    </div>
  </div>
</div>
           

